@header-color: @se-white;
@header-bg-color: @se-green;
@header-border-color: darken(@se-green, 20);

.header-wrapper {
  position: relative;
  z-index: 3;
}

.header {
  width: 100%;

  @media @desktop {
    display: flex;
    flex-direction: column;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header-main-content {
  background-color: @header-bg-color;
  border-bottom: 4px solid @header-border-color;

  @media @desktop {
    order: 1;
  }
}

.header-content {
  position: relative;
  padding: 8px 10px;


  @media @desktop {
    display: flex;
    align-items: flex-end;
    padding: 0;
  }
}

.logo {
  display: inline-block;

  @media @desktop {
    align-self: center;
  }
}

.main-logo-icon {
  display: inline-block;
  width: 215px;
  height: 45px;
  color: @header-color;
}


