<section class="se-tips-vertical">
  {{#each htmlWebpackPlugin.options.page.tipsVertical}}
  <div class="se-tips-vertical__item">
    {{#if linksOnly}}
      <h5 class="se-tips-vertical__heading">{{heading}}</h5>
      <ul class="se-tips-vertical__links">
        {{#each links}}
          <li>{{> ../_base/hyperlink.hbs
            className='se-btn-link se-btn-link--arrow js-tips-link-arrow'
            linkText=text
            url=url
          }}</li>
        {{/each}}
      </ul>
    {{else}}
      <figure class="se-tips-vertical__figure">
        <img src="{{imageUrl}}" alt="" class="se-tips-vertical__img">
      </figure>
      <h5 class="se-tips-vertical__heading">{{heading}}</h5>
      <p class="se-tips-vertical__description">{{description}}</p>
      <!-- <a></a> tag -->
      {{> ../_base/hyperlink.hbs
        className='se-btn-link se-btn-link--arrow js-tips-link-arrow'
        linkText=ctaButton.text
        url=ctaButton.url
      }}
      {{/if}}
  </div>
  {{/each}}
</section>
