@tips-vertical-bg: @se-white;
@tips-vertical-description-color: @se-black;
@tips-vertical-heading-color: @se-green;

.se-tips-vertical {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  &__item {
    margin-bottom: 40px;
    width: 100%;

    @media @desktop {
      display: block;
      width: auto;
      background-color: @tips-vertical-bg;
      padding: 10px;
    }

    & .se-btn {
      padding: 0;
    }
  }

  &__heading {
    order: 1;
    font-size: 20px;
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
    color: @tips-vertical-heading-color;

    @media @desktop {
      text-align: left;
    }
   }

  &__links {
    display: flex;
    flex-wrap: wrap;

    & .se-btn {
      padding: 5px 0;
      text-align: left;
      white-space: normal;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
  }

  &__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    order: 2;

    @media @desktop {
      height: 100px;
      width: 172px;
    }
  }

  &__description {
    width: 100%;
    color: @tips-vertical-description-color;
    .fz-rem(13);
    .lh(18, 13);
    margin: 10px 0 0;
    order: 3;

    @media @desktop {
      margin: 10px 0;
    }
  }
}