//---------- 'blocks_common/_breakpoints.less' ----------

@desktop-breakpoint: 980px; //61.25em;
@desktop:  ~'only screen and (min-width: 980px)';
@mobile: ~'only screen and (max-width: 980px)';
@highdpi: ~'print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx)';

//---------\ 'blocks_common/_breakpoints.less' ----------
