// @mm-color: @se-gray;
// @mm-bg-color: @se-white;
// @mm-item-border-color: @se-white-E7;
// @mm-item-arrow-color: @se-blue;

// .wrapper {
//   @media @desktop {
//     width: 100%;
//     padding-left: 3%;
//   }
// }

// .mm {
//   position: absolute;
//   width: 100%;
//   left: 100%;
//   top: 100%;
//   height: calc(~'100vh - 73px');
//   margin-top: 4px;
//   background-color: @mm-bg-color;
//   color: @mm-color;
//   transition: transform .2s ease-out;

//   @media @desktop {
//     position: static;
//     height: auto;
//     background-color: transparent;
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .mm-item {
//   border-bottom: 1px solid @mm-item-border-color;

//   @media @desktop {
//     border-bottom: none;
//   }

//   &__link {
//     position: relative;
//     display: block;
//     text-decoration: none;
//     width: 100%;

//     font-size: 20px;
//     line-height: 1;
//     color: @mm-color;

//     @media @desktop {
//       padding: 0;
//     }



//     &::after {
//       position: absolute;
//       top: 8px;
//       right: 13px;
//       content: '>';
//       font-size: 40px;
//       color: @mm-item-arrow-color;
//       font-weight: 900;
//       font-family: 'Arial Rounded MT Regular';

//       @media @desktop {
//         content: none;
//       }
//     }
//   }

//   &__title {
//     margin: 0;
//     padding: 20px 40px 15px 15px;
//     text-transform: uppercase;
//     font-weight: normal;

//     @media @desktop {
//       margin-bottom: -4px;
//       padding: 0 8px 9px;
//       color: @mm-bg-color;
//       font-size: .9375rem;
//       text-transform: uppercase;
//       font-weight: 400;
//       border-bottom: 4px solid rgba(255, 255, 255, 0);
//       transition: border-bottom-color linear .3s .5s
//     }

//     &:hover {
//       color: @mm-item-arrow-color;

//       @media @desktop {
//         color: @mm-bg-color;
//         border-bottom-color: @mm-bg-color;
//       }
//     }
//   }
// }

// @mm-color: @se-gray;
// @mm-bg-color: @se-white;
// @mm-item-border-color: @se-white-E7;
// @mm-item-arrow-color: @se-blue;