@mm-color: @se-gray;
@mm-bg-color: @se-white-FA;
@mm-green: @se-green;
@mm-item-border-color: @se-green;
@mm-submenu-bg: @se-gray;
@mm-border-color: @se-white-EA;
@mm-dark-bg: @se-gray;


.wrap-content {
  display: none;
}

.mobile-overlay {
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s ease .01s;

  @media @desktop {
    display: none;
  }
}

.menu-btn {
  z-index: 4;
  background-color: @mm-green;
}

.mm {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: calc(~'100% - 45px');
  background-color: @mm-bg-color;
  z-index: 5;
  transform: translateX(-100%);
  transition: transform .15s ease-in;

  @media @desktop {
    display: none;
  }

  &-wrapper {
    background-color: #fff;
  }
}

.mm-item {
  padding-left: 15px;

  &:last-of-type {
    border-bottom: 1px solid @mm-border-color;

    .mm-item__title {
      border-bottom: none;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 18px 15px 18px 0;
    .fz-rem(18);
    .lh(21, 18);
    font-weight: 600;
    color: @mm-color;
    text-transform: uppercase;
    border-bottom: 1px solid @mm-border-color;


    &::after {
      content: url('./../../images/arr-little.svg');
      position: absolute;
      top: 13px;
      right: 15px;
      transform: scale(1.5);
    }
  }

  &--expanded {
    padding: 0;

    .mm-item__title {
      padding: 17px 15px;
      text-align: center;
      border-bottom: none;
      color: @mm-green;

      &::after {
        transform: rotateY(180deg) scale(1.5);
        position: absolute;
        right: auto;
        left: 15px;
      }
    }

    & .mm-item__body {
      display: block;
    }
  }

  &__body {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px 15px;
    .fz-rem(16);
    .lh(18, 16);
    font-weight: bold;
    color: @mm-color;
    border-bottom: 1px solid @mm-border-color;
    border-top: 1px solid @mm-border-color;

    & .figure-icon {
      margin-left: 5px;
    }
  }

  .all-solutions {
    display: none;
  }
}

.mm-cat {
  .fz-rem(14);
  .lh(16, 14);
  color: @mm-color;

  &__icon {
    display: none;
  }

  &__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 19px 10px 19px 15px;
    max-height: 55px;
    .lh(18, 13);
    color: @mm-color;
    border-bottom: 1px solid @mm-border-color;

    &:hover {
      color: @mm-color;
    }

    .figure-icon {
      display: flex;
      margin: 0;
    }
  }

  &--expanded {

    .mm-cat__title {
      color: @mm-item-border-color;
      font-weight: bold;
    }

    & .mm-cat__links {
      display: block;
      padding: 10px 0;
      background-color: #fafafa;
    }
  }

  &__links {
    display: none;
    margin-left: -5px;
  }

  &__link {
    display: block;
    padding: 10px 15px 10px 25px;
    color: @mm-color;
    .fz-rem(13);
    .lh(16, 13);

    &:active, &:focus {
      color: @mm-green;
      font-weight: 600;
    }

    .figure-icon {
      display: inline-block;
    }

    &--all-links {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: bold;

      .figure-icon {
        margin-left: 5px;
      }
    }
  }
}

//METABAR
@metabar-link-color: @se-gray;

.mm-metabar {
  display: block;
  margin-top: 20px;
  .fz-rem(14);
}

.metabar-user-links {
  &__item {
    &:first-of-type .metabar-user-link__icon {
      color: @mm-green;
    }

    & + & {
      margin-top: 2px;
    }
  }

  & + .metabar-info {
    margin-top: 35px;
  }
}

.metabar-user-link {
  position: relative;
  display: block;
  padding: 7px 15px;
  color: @metabar-link-color;
  .lh(26, 14);

  &:not([data-count=""])::after {
    content: attr(data-count);
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fz-rem(12);
    .lh(14, 12);
    color: #fff;
    border-radius: 50%;
    background-color: #E67F00;
  }

  &__icon-wrapper {
    float: left;
  }

  &__icon {
    width: 20px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: transparent;
  }

  &__title {
    display: block;
    margin-left: 30px;
    color: inherit;
  }
}

.metabar-info {
  padding-bottom: 7px;
}

//METABAR COUNTRY SELECTOR
@metabar-country-selector-color: @se-gray;

.metabar-country-selector {
  display: block;
  padding: 7px 15px;
  color: @metabar-country-selector-color;
}

.country-selector-toggler {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__flag-icon {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0;
  }

  &__title {
    margin-left: 10px;
  }

  .caret-down {
    display: none;
  }
}
//METABAR STOCK
.metabar-stock {
  display: inline-block;
  padding: 7px 15px;

  & + .metabar-country-selector {
    margin-top: 20px;
  }
}

.stock-icon {
  color: @mm-green;

  &-wrapper {
    width: 20px;
    text-align: center;
    float: left;
  }

  margin: 0;
  width: 14px;
  height: 14px;
}

.stock-content {
  display: block;
  margin-left: 30px;
  color: @mm-color;
}

.stock-value,
.stock-growth {
  font-weight: normal;
  .lh(16, 14);
}

.stock-value + .stock-growth {
  margin-left: 5px;
  color: #666;
}