<section class="mm js-mm">
  <div class="mm-wrapper">
    {{#each htmlWebpackPlugin.options.page.megaMenu}}
      <div class="mm-item js-mm-item">
        <h4 class="mm-item__title">{{title}}</h4>
        <div class="mm-item__body">
          <a href="#" class="mm-item__link js-mm-item-link">
            {{mainLink}}
            {{> mega-menu-icons/mega-menu-double-chevron.hbs}}
          </a>
          <div class="mm-categories">
            {{#each categories}}
            <div class="mm-cat js-mm-cat">
              <div class="mm-cat__content">
                <a href="#" class="mm-cat__title">
                  {{name}}
                  {{> mega-menu-icons/mega-menu-plus.hbs}}
                </a>
                {{#if links}}
                  <div class="mm-cat__links">
                    {{#each links}}
                      <a href="#" class="mm-cat__link">
                        {{this}}
                        {{> mega-menu-icons/mega-menu-single-chevron.hbs}}
                      </a>
                    {{/each}}
                    <a href="#" class="mm-cat__link mm-cat__link--expand mm-cat__link--all-links js-expand-cat">
                      {{lastLink}}
                      {{> mega-menu-icons/mega-menu-double-chevron.hbs}}
                    </a>
                  </div>
                {{/if}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="metabar mm-metabar">
    <div class="container">
      <ul class="metabar-user-links">
        {{#each htmlWebpackPlugin.options.page.metabarLinks}}
          <li class="metabar-user-links__item">
            <a href="#" class="metabar-user-link" data-count={{count}}>
              <div class="metabar-user-link__icon-wrapper">
                <figure class="icon metabar-user-link__icon">
                  <svg class="icon" width="{{icon.width}}" height="{{icon.height}}" viewBox="0 0 {{icon.width}} {{icon.height}}">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon.id}}"></use>
                  </svg>
                </figure>
              </div>
              <span class="metabar-user-link__title">{{name}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="metabar-info">
        <a href="#" class="metabar-stock stock">
          <div class="stock-icon-wrapper">
            {{> mega-menu-icons/mega-menu-metabar-stock.hbs}}
          </div>
          <span class="stock-content">
            <strong class="stock-value">€123.4</strong>
            <span class="stock-growth">0.6 %</span>
          </span>
        </a>
        <a href="#" class="metabar-country-selector country-selector-toggler js-open-country-select">
          <img class="country-selector-toggler__flag-icon" src="../svg-sprite/flags/flag_ru.svg" alt="">
          <div class="country-selector-toggler__title">Global (EN)</div>
          <span class="caret-down"></span>
        </a>
      </div>
    </div>
  </div>
</section>
