@main-slider-content-color: @se-white;
@main-slider-bullets-color: @se-white-E7;
@main-slider-bullets-active-color: @se-green;
@main-slider-video-bg-color: @se-black;

.main-slider {
  padding-bottom: 40px;
  position: relative;

  & .container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 182px;
    display: flex;
    align-items: center;
    margin: 0;
    @media @desktop {
      height: 100%;
    }
  }

  &__content {
    width: 100%;
    margin: 0;
    padding: 15px 20px 20px 35px;
    background-color: rgba(0,0,0,0.5);

    @media @desktop {
      width: 530px;
      margin: 0 50px 0;
      padding: 30px;
      color: @main-slider-content-color;
    }

    & .se-btn {
      display: none;

      @media @desktop {
        display: inline-block;
      }
    }

  }

  &__content--mobile {
    box-sizing: border-box;
    padding: 0 20px;
    background: none;

    @media @desktop {
      display: none;
    }

    .main-slider__description {
      display: block;
      margin: 15px 0 0;
    }

    & .se-btn {
      display: flex;
      margin-top: 5px;
    }
  }

  &__heading {
    margin: 0;
    font-size: 36px;
    font-family: 'Arial Rounded MT Light';
    color: #fff;

    @media @desktop {
      margin: 0 0 10px;
    }
  }

  &__description {
    display: none;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Arial Rounded MT Light';

    @media @desktop {
      display: block;
    }
  }

  .swiper-button-next {
    right: 0;

    @media @desktop {
      right: 10px;
    }
  }

  .swiper-button-prev {
    left: 0;

    @media @desktop {
      left: 10px;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    top: calc(~'192px / 2');
    outline: none;

    @media @desktop {
      top: 50%;
    }

    & .icon {
      fill: #fff;
      width: 10px;

      @media @desktop {
        width: 24px;
      }
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: @main-slider-bullets-active-color;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 100%;
    background: @main-slider-bullets-color;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: @main-slider-bullets-active-color;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-slide img {
    height: 182px;
    object-fit: cover;

    @media @desktop {
      height: auto;
    }
  }


  & .swiper-slide {
    height: 100%;
    position: relative;

    @media @desktop {
      position: static;
    }
  }

  & .swiper-pagination {
    display: none;

    @media @desktop {
      display: block;
      bottom: 25px;
    }
  }

  & .video-container {
    background-color: @main-slider-video-bg-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(~'100% - 40px');

    &__iframe {
      height: 100%;
    }

    &__close-btn {
      position: absolute;
      z-index: 1;
      top: 40px;
      right: 17px;
      width: 25px;
      height: 25px;
    }
  }

  & .oo-player-container .oo-player {
    padding-top: 0 !important;
    height: 100% !important;
  }
}