<section class="main-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each htmlWebpackPlugin.options.page.sliderItems}}
        <div class="swiper-slide">
          {{!-- <div class="swiper-slide-wrapper"> --}}
          {{!-- <picture> --}}
            {{!-- <source srcset="https://storage.googleapis.com/srcset/resized-images/mobile/2550x600-ne.jpg 480w,
              https://storage.googleapis.com/srcset/resized-images/tablet/2550x600-ne.jpg 960w,
              https://storage.googleapis.com/srcset/resized-images/desktop/2550x600-ne.jpg 2560w"
              sizes="(min-width: 960px) 2560px, (min-width: 600px) 960px, 480px"> --}}
            <img src="{{image.desktop}}" alt="image" width="100%">
          {{!-- </picture> --}}
            <div class="container">
              <article class="main-slider__content">
                <h3 class="main-slider__heading">{{content.heading}}</h3>
                <p class="main-slider__description">{{content.description}}</p>
                  {{#if content.ctaButton}}
                      <a class="se-btn se-btn-primary" href="{{content.ctaButton.url}}">{{content.ctaButton.text}}</a>
                  {{/if}}
                  {{#if content.videoButton}}
                      <a class="se-btn se-btn-primary js-video-btn" href="{{content.videoButton.url}}">{{content.videoButton.text}}</a>
                  {{/if}}
              </article >

            </div>
            <article class="main-slider__content main-slider__content--mobile">
              <p class="main-slider__description">{{content.description}}</p>
                {{#if content.ctaButton}}
                    <a class="se-btn se-btn-primary se-btn-primary--full-width" href="{{content.ctaButton.url}}">{{content.ctaButton.text}}</a>
                {{/if}}
                {{#if content.videoButton}}
                    <button type="button" class="se-btn se-btn-primary se-btn-primary--full-width js-video-btn" data-source-video-url="{{content.videoButton.url}}">
                      <figure class="figure-icon icon">
                        <svg class="icon" width="20" height="20" viewBox="0 0 20 20">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-button"></use>
                        </svg>
                      </figure>
                      {{content.videoButton.text}}
                    </button>
                {{/if}}
            </article>
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
    {{> ../_base/slider-controls.hbs additionalClasses="" iconWidth=23 iconHeight=40 iconIdLeft="arrow-big-left-white" iconIdRight="arrow-big-right-white"}}
  </div>
</section>