// Colors
@se-black: #000000;
@se-green: #3DCD58;
@se-blue: #42B4E6;
@se-white: #FFFFFF;
@se-white-E7: #e7e6e6;
@se-white-FA: #fafafa;
@se-white-EA: #eaeaea;
@se-gray-9F: #9FA0A4;
@se-gray-6C: #6c6c6c;
@se-light-gray: #626469;
@se-gray: #333333;
// #666666
@se-gray-lightened-20: lighten(@se-gray, 20);
// #999999
@se-gray-lightened-40: lighten(@se-gray, 40);
// #cccccc
@se-gray-lightened-60: lighten(@se-gray, 60);

// Fonts
@font-stack-regular: 'Arial Rounded MT Regular', 'Lucida Grande', Lucida, 'Lucida Sans Unicode', sans-serif;
@font-stack-bold: 'Arial Rounded MT Bold', 'Lucida Grande', Lucida, 'Lucida Sans Unicode', sans-serif;
@font-stack-light: 'Arial Rounded MT Light', 'Lucida Grande', Lucida, 'Lucida Sans Unicode', sans-serif;

// Common weight name mapping
// https://developer.mozilla.org/en/docs/Web/CSS/font-weight#Common_weight_name_mapping
@fw-thin: 100;
@fw-extra-light: 200;
@fw-light: 300;
@fw-normal: 400;
@fw-medium: 500;
@fw-semi-bold: 600;
@fw-bold: 700;
@fw-extra-bold: 800;
@fw-black: 900;

// Layout
@main-container-width: 980px;

@line-height-base: 1.5;
@line-height-lg: 1.5;
@line-height-sm: 1.5;

@border-width: 1px;

/* */

@font-size-base: 1rem; // Assumes the browser default, typically `16px`
@font-size-lg: (@font-size-base * 1.25);
@font-size-sm: (@font-size-base * .875);

// Links
//
// Style anchor elements.

@link-color: @se-blue;
@link-decoration: none;
@link-hover-color: darken(@link-color, 15%);
@link-hover-decoration: underline;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

@input-btn-padding-y: .375rem;
@input-btn-padding-x: .75rem;
@input-btn-line-height: @line-height-base;

@input-btn-padding-y-sm: .25rem;
@input-btn-padding-x-sm: .5rem;
@input-btn-line-height-sm: @line-height-sm;
@input-btn-padding-y-lg: .5rem;
@input-btn-padding-x-lg: 1rem;
@input-btn-line-height-lg: @line-height-lg;
@input-btn-border-width: @border-width;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
@btn-padding-y: @input-btn-padding-y;
@btn-padding-x: @input-btn-padding-x;
@btn-line-height: @input-btn-line-height;

@btn-padding-y-sm: @input-btn-padding-y-sm;
@btn-padding-x-sm: @input-btn-padding-x-sm;
@btn-line-height-sm: @input-btn-line-height-sm;

@btn-padding-y-lg: @input-btn-padding-y-lg;
@btn-padding-x-lg: @input-btn-padding-x-lg;
@btn-line-height-lg: @input-btn-line-height-lg;

@btn-border-width: @input-btn-border-width;

@btn-font-weight: @font-weight-normal;
@btn-font-size: @font-size-base * .8125;

@btn-disabled-opacity: .65;

@btn-link-disabled-color: @se-gray;
@btn-block-spacing-y: .5rem;