@footer-bg-color: @se-white-E7;

.main-footer {
  padding: 25px 0 0;
  background-color: @footer-bg-color;

  .main-footer__inner {
    padding: 0 10px;

    @media @desktop {
      display: flex;
    }
  }
}