<button aria-label="Next slide" type="button" class="swiper-button-next {{additionalClasses}}">
  <svg class="icon" width="{{iconWidth}}" height="{{iconHeight}}" viewBox="0 0 {{iconWidth}} {{iconHeight}}">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{iconIdRight}}"></use>
  </svg>
</button>
<button aria-label="Previous slide" type="button" class="swiper-button-prev {{additionalClasses}}">
  <svg class="icon" width="{{iconWidth}}" height="{{iconHeight}}" viewBox="0 0 {{iconWidth}} {{iconHeight}}">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{iconIdLeft}}"></use>
  </svg>
</button>