.footer-logo {
  padding-top: 8px;
}

.footer-logo__figure {
  display: inline-block;
  color: #626469;
  width: 100%;

  @media @desktop {
    width: auto;
  }
}

.footer-logo__icon {
  width: 100%;
  height: auto;
}

.footer-logo__img {
  width: 100%;

  @media @desktop {
    margin-right: 15px;
  }
}

.footer-logo__link {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #9fa0a4;

  @media @desktop {
    width: auto;
    margin: 0 30px 0 0;
    padding: 0;
    border: none;
  }
}