@footer-form-sm: ~'only screen and (min-width: 700px)';
@footer-form-xs: ~'only screen and (min-width: 500px)';
.footer-subscribe {
  border-bottom: 1px solid #d2d2d2;
  padding-top: 15px;
  padding-bottom: 28px;
  text-align: left;
  text-align: start;

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &-form {
    margin-top: 10px;
  }

  &__heading {
    font-family: 'Arial Rounded MT Light';
    font-size: 18px;
    color: #626469;
  }

  &__uppercase-heading {
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    margin: 0 0 10px;

    @media @desktop {
      width: 50%;
      margin-right: 7px;
    }
  }

  @media @desktop {
    border-top: 0;
    padding-top: 0;
  }

  &__btn-primary {
    display: block;
    width: 100%;
    padding: 3px 9px;
    float: none;
    font-size: .875rem;
    font-weight: 400;
    line-height: 2;

    @media @footer-form-xs {
      flex-grow: 2;
      flex-shrink: 2;
    }

    @media @footer-form-sm {
      display:inline-block;
      width: auto;
      height: 30px;
      padding: 1px 21px;
      flex-grow: 1;
      flex-shrink: 1;
      vertical-align: bottom
    }

    @media @desktop {
      width:auto
    }
  }
}

.footer-subscribe-form {
  @media @footer-form-xs {
    display: flex;
    flex-wrap: wrap;
  }

  @media @footer-form-sm {
    flex-wrap: nowrap;
  }

  @media @desktop {
    display: flex;
    align-items: flex-start;
  }
}

.footer-subscribe-field-wrap, .footer-subscribe-select-wrap {
  display: block;
  margin-bottom: 7px;
  width: 100%;

  @media @footer-form-xs {
    display:inline-block;
    vertical-align: bottom;
    flex-shrink: 1;
  }

  @media @footer-form-sm {
    flex-grow: 2;
    margin-bottom: 0;
  }

  @media @desktop {
    margin-right: 7px;
  }
}

.footer-subscribe-field-wrap {
  @media @footer-form-xs {
    width:50%;
    margin-right: 7px;
  }

  @media @footer-form-sm {
    width: auto;
  }

  @media @desktop {
    width: 250px;
  }
}

.footer-subscribe-select-wrap {
  margin-bottom: 7px;

  @media @footer-form-xs {
    width:auto;
    flex-grow: 1;
  }

  @media @footer-form-sm {
    margin-right:9px;
    flex-grow: 2;
  }

  @media @desktop {
    width:240px;
    margin-bottom: 0;
  }
}

.footer-subscribe-field:not(.selectize-control):not(.selectize-dropdown) {
  width: 100%;
  padding: 7px 8px;
  font-size: .875rem;
  line-height: 1;
  font-weight: 400;
  border: 0
}

.btn-primary {
  display: inline-block;
  background: #42b4e6;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  border-color: #fff;
  border-style: solid;
  border-width: 0
}

.common-custom-select {
  position: relative;
  margin-bottom: 24px;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;

    &:focus {
      outline: 0;
    }

    [dir="rtl"] & {
      padding-right: 2px;
    padding-left: 0;
    }
  }

  &__list--single, &__item {
    width: 100%;
  }

  &__list--dropdown &__item--selectable.is-highlighted {
    background-color: #3dcd58;
    color: #fff;
  }

  &__placeholder {
    opacity: .5;
  }

  &__item {
    cursor: default;
  }

  &__item--selectable {
    cursor: pointer;
  }

  &__inner {
    display: inline-block;
    padding: 0;
    width: 100%;
    background-color: #fff;
    font-size: 14px;

    .is-focused &, .is-open & {
      border-color: #b7b7b7;
    }

    .is-open & {
      border-radius: 2.5px 2.5px 0 0;
    }

    .is-flipped.is-open & {
      border-radius: 0 0 2.5px 2.5px;
    }
  }

  &__list--dropdown, &__list {
    position: relative;
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  &__list--dropdown &__item {
    position: relative;
    padding: 8px;
    font-size: 13px;
  }

  [dir="rtl"] &__list--dropdown &__item {
    text-align: right;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 13px;

    &--single {
      display: inline-block;
      padding: 8px 7px 5px 7px;
      width: 100%;
    }

    [dir="rtl"] &--single {
      padding-right: 4px;
      padding-left: 16px;
    }

    &--dropdown {
      display: none;
      z-index: 1;
      position: absolute;
      width: 100%;
      background-color: #FFFFFF;
      top: 100%;
      margin-top: -1px;
      border-bottom-left-radius: 2.5px;
      border-bottom-right-radius: 2.5px;
      overflow: hidden;
      word-break: break-all;
    }

    &--dropdown.is-active {
      display: block;
    }

    .is-open &--dropdown {
      border-color: #b7b7b7;
    }

    .is-flipped &--dropdown {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: -1px;
      border-radius: .25rem .25rem 0 0;
    }
  }

  &__list--single &__item {
    width: 100%;
  }

  &[data-type*="select-one"] {
    cursor: pointer;

    &:after {
      content: "";
      height: 0;
      width: 0;
      border-style: solid;
      border-color: #333333 transparent transparent transparent;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
    }

    &.is-open:after {
      border-color: transparent transparent #333333 transparent;
      margin-top: -7.5px;
    }

    &[dir="rtl"]:after {
      left: 11.5px;
      right: auto;
    }

    &[dir="rtl"] .common-custom-select__button {
      right: auto;
      left: 0;
      margin-left: 25px;
      margin-right: 0;
    }

    & .common-custom-select__input {
      display: block;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #DDDDDD;
      background-color: #FFFFFF;
      margin: 0;
    }

    &__button:hover, &__button:focus {
      opacity: 1;
    }

    &__button:focus {
      box-shadow: 0px 0px 0px 2px #00BCD4;
    }
  }

  &[data-type*="select-multiple"], &[data-type*="text"] {
    .common-custom-select__inner {
      cursor: text;
    }

    .common-custom-select__button:hover,
    .common-custom-select__button:focus {
      opacity: 1;
    }
  }

  @media (min-width: 640px) {
    &__list--dropdown &__item--selectable:after {
      content: attr(data-select-text);
      font-size: 12px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    [dir="rtl"] &__list--dropdown &__item--selectable {
      text-align: right;
      padding-left: 100px;
      padding-right: 10px;
    }
    [dir="rtl"] &__list--dropdown &__item--selectable:after {
      right: auto;
      left: 10px;
    }
  }
}