<section class="footer-subscribe">
  <div class="footer-subscribe-wrapper">
    <h2 class="footer-subscribe__heading"><span class="footer-subscribe__uppercase-heading">{{htmlWebpackPlugin.options.page.footerSubscribe.heading.uppercaseText}}</span>{{htmlWebpackPlugin.options.page.footerSubscribe.heading.normalText}}</h2>
  </div>
  <form class="footer-subscribe-form" id="mktoForm_2244">
    <div class="footer-subscribe-field-wrap footer-subscribe__input">
      <input class="footer-subscribe-field" id="Email" name="Email" maxlength="255" type="text" required="" data-msg-required="Your email is invalid" placeholder="Email">
    </div>
    <div class="footer-subscribe-select-wrap footer-subscribe__input">
      <select class="footer-subscribe-dropdown" data-trigger name="choices-single-default" id="choices-single-default" placeholder="I am a...">
        {{#each htmlWebpackPlugin.options.page.footerDropdownItems}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
    </div>
    <button class="btn-primary footer-subscribe__btn-primary js-subscribe-btn" type="submit" value="OK">OK</button>
    <input type="hidden" name="pageUri" value="tcm:22-173927">
    <input type="hidden" name="Unsubscribed" value="false">
    <input type="hidden" name="keyCode" value="z609v">
    <input type="hidden" name="LeadSource" value="Website">
    <input type="hidden" name="SourceDetail__c" value="SE.com -  Email Subscription Web Footer">
    <input type="hidden" name="EmailPostingDate" value="">
    <input type="hidden" name="SEInferredCountry" value="US">
    <input type="hidden" name="SEInferredLanguage" value="en">
    <input type="hidden" name="formid" value="2244">
    <input type="hidden" name="marketo-settings" value="tcm:22-173927">
    <input type="hidden" name="responsys-settings" value="tcm:22-17355">
    <input type="hidden" name="_mktoReferrer" id="_mktoReferrer" value="http://www-int1.schneider-electric.com/us/en/">
    <input type="hidden" name="referringURL" id="referringURL" value="">
    <input type="hidden" name="redirect-url" value="#">
    <input type="hidden" name="_mkt_trk" value="id:178-GYD-668&amp;token:_mch-schneider-electric.com-1520251939729-96320">
  </form>
</section>