<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> ../../components/head/head}}
  </head>
  <body>
    {{> ../../components/cookie-message/cookie-message.hbs}}
    {{> ../../components/header/header.hbs}}
    {{> ../../components/main-slider/main-slider.hbs}}
    <main class="se-page-content">
      <div class="container">
        <div class="two-column-grid">
          <div class="main-column">
            {{> ../../components/tips-section/tips-section.hbs}}
            {{> ../../components/simple-slider/simple-slider.hbs}}
            {{> ../../components/home-products/home-products.hbs}}
            {{> ../../components/simple-slider/simple-slider.hbs}}
            {{> ../../components/socials-share/socials-share.hbs}}
          </div>
          <aside class="aside-column">
            {{> ../../components/tips-section-vertical/tips-section-vertical.hbs}}
          </aside>
        </div>
      </div>
      {{> ../../components/support-bar/support-bar.hbs}}
      {{> ../../components/proactive-chat/proactive-chat.hbs}}
    </main>
    {{> ../../components/footer/footer.hbs}}
    {{> ../../components/newsletter-modal/newsletter-modal.hbs}}
    {{!-- {{> ../../components/external-scripts/external-scripts.hbs scripts=htmlWebpackPlugin.options.page.externalScripts}} --}}
  </body>
</html>
