@simple-slider-heading-color: @se-green;
@simple-slider-description-color: @se-gray;

.simple-slider {

  .swiper-container {
    padding: 50px 0;
  }
  & .swiper-slide {
    @media @desktop {
      display: flex;
      align-items: flex-start;
    }
  }

  &__heading {
    margin: 0 0 15px;
    color: @simple-slider-heading-color;
    font-size: 30px;
  }

  &__description {
    margin: 20px 0;
    font-size: 13px;
    color: @simple-slider-description-color;
  }

  &__img {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    height: auto;

    @media @desktop {
      margin: 0;
      width: 50%;
      height: auto;
    }
  }
}