<section class="simple-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each htmlWebpackPlugin.options.page.simpleSlider}}
        <div class="swiper-slide">
          <div class="simple-slider__content">
            <h3 class="simple-slider__heading">{{heading}}</h3>
            {{#if description}}
              <p class="simple-slider__description">{{description}}</p>
            {{/if}}
            <a class="se-btn-link" href="{{ctaLink.url}}">{{ctaLink.text}}</a>
          </div>
          <img class="simple-slider__img" src="{{imageUrl}}" alt="">
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
