[type='button'] {
  background: none;
  border: 0;
  cursor: pointer;
}

.close-button {
  display: block;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-clip: padding-box;
  outline: none;
}