.se-btn {
  display: inline-block;
  font-weight: @btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  border: @btn-border-width solid transparent;
  .button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-line-height);

  // Share hover and focus styles
  // TODO: add hover styles/mixin
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: @btn-disabled-opacity;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;

    &:focus {
    }
  }
}

.se-btn-primary {
  .buttonBackground(#42b4e6, #fff);

  // Button with chevron
  &--arrow {
    &:before {
      content: '>';
      color: #fff;
      float: left;
      margin-right: 5px;
    }
  }

  //this class needed for prm dashboard btns
  &.se-btn-primary--half-width {
    width: calc(~'50% - 5px');
    text-transform: uppercase;
    .fz-rem(12);

    @media @desktop {
      width: 100%;
    }
  }

  // Mobile full width button
  &.se-btn-primary--full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px 15px;
    .buttonBackground(#42b4e6, #fff);
    .fz-rem(14);

    & .figure-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}

.se-btn-link {
  .buttonBackground(transparent, #42b4e6);
  .fz-rem(13);

  &--arrow {
    &:before {
      content: '>';
      color: #42b4e6;
      float: left;
      margin-right: 5px;
    }
  }
}

// Make a button look and behave like a link
.se-btn-link {
  font-weight: @font-weight-normal;
  color: @link-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: @link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: @btn-link-disabled-color;
  }
}

// Button Sizes Classes
.se-btn-lg {
  .button-size(@btn-padding-y-lg, @btn-padding-x-lg, @font-size-lg, @btn-line-height-lg);
}

.se-btn-sm {
  .button-size(@btn-padding-y-sm, @btn-padding-x-sm, @font-size-sm, @btn-line-height-sm);
}
