// TODO find better solution
a {
  color: @link-color;
  text-decoration: @link-decoration;

  // Remove the gray background on active links in IE 10.
  background-color: transparent;

  // Remove gaps in links underline in iOS 8+ and Safari 8+.
  -webkit-text-decoration-skip: objects;

  &:hover {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}