// .se-page-content {
//   // font-size: .875rem;
//   font-size: 14px;
//   // line-height: 20px;
//   line-height: 1.4286;

//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     margin: 0;
//     padding: 0;
//     font-size: 100%;
//     line-height: 1.2;
//     font-weight: 100;
//     color: @se-green;

//     span {
//       display: block;
//       margin-top: 14px;
//       font-size: 68.6%;
//       color: @se-gray;
//     }
//   }

//   h1 {
//     margin-top: 20px;
//     margin-bottom: 20px;
//     font-size: 40px;
//   }

//   h2 {
//     margin-top: 28px;
//     margin-bottom: 20px;
//     // font-size: 2.1875rem;
//     font-size: 35px;

//     &:first-child {
//       margin-top: 0;
//     }
//   }

//   h3 {
//     font-size: 20px;
//     margin-bottom: 10px;
//   }

//   h4 {
//     font-size: 18px;
//   }

//   h5 {
//     font-size: 16px;
//   }

//   h6 {
//     font-size: 14px;
//   }

//   time {
//     display: block;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     color: @se-gray-9F;
//   }

//   p {
//     margin-top: 14px;
//     margin-bottom: 14px;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   a {
//     color: @se-blue;

//     &[href^='tel:'],
//     &[href^='mailto:'],
//     &[href^='skype:'],
//     &[href^='sms:'] {

//       &::before {
//         content: '';
//       }
//     }

//     &:hover {
//       text-decoration: underline;

//       &::before {
//         text-decoration: none;
//       }
//     }

//     &::before {
//       .chevron-before();
//     }
//   }

//   address {
//     margin-top: 14px;
//     margin-bottom: 14px;
//     font-style: normal;

//     a::before {
//       content: '';
//     }
//   }


//   ul,
//   ol {
//     padding-left: 20px;
//     margin-top: 14px;
//     margin-bottom: 14px;
//   }


//   ul li {

//     &::before {
//       display: inline-block;
//       width: 1em;
//       margin-left: -1em;
//       color: @se-green;
//       content: '•';
//     }
//   }

//   ol {
//     counter-reset: li;

//     li {
//       counter-increment: li;

//       &::before {
//         display: inline-block;
//         width: 1em;
//         margin-left: -1.5em;
//         color: @se-green;
//         content: counter(li);
//         margin-right: .5em;
//         text-align: right;
//         direction: rtl;
//       }
//     }
//   }
// }