@menu-btn-icon-color: @se-white;
@menu-btn-bg-color: @se-green;

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 4;
  background-color: @menu-btn-bg-color;
  outline: none;

  @media @desktop {
    display: none;
  }

  &.is-active {

    .menu-btn__icon {
      visibility: hidden;

      &::before,
      &::after {
        visibility: visible;
      }

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }

    & ~ .mm {
      transform: translateX(0);
    }

    & ~ .mobile-overlay {
      display: block;
      opacity: 0.6;
      z-index: 3;
    }
  }
}

.menu-btn__icon {
  position: relative;
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: @menu-btn-icon-color;
  margin: 10px 0;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: @menu-btn-icon-color;
    transition-duration: .2s;
    content: '';
  }

  &::before {
    top: -8.3px;
  }

  &::after {
    top: 8.3px;
  }
}
