@footer-links-heading-color: @se-gray;
@footer-links-hover-color: @se-blue;

.footer-links {
  padding: 25px 0 35px;

  @media @desktop {
    display: flex;
  }

  &-wrapper {
    flex: 1 0 25%;
    margin-bottom: 20px;

    @media @desktop {
      margin-bottom: 0;
    }
  }

  &__heading {
    font-size: 16px;
    margin: 10px 0 5px;
    text-transform: uppercase;
    color: @footer-links-heading-color;

    @media @desktop {
      font-size: 13px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: @footer-links-heading-color;

    @media @desktop {
      font-size: 12px;
    }

    &:hover {
      color: @footer-links-hover-color;
    }
  }
}