<div class="footer-links">
  {{#each htmlWebpackPlugin.options.page.footerLinks}}
    <div class="footer-links-wrapper">
      <h6 class="footer-links__heading">{{heading}}</h6>
      <ul class="footer-links__list">
        {{#each linksArr}}
          <li class="footer-links__list-item">
            <a href="{{url}}" class="footer-links__list-link">{{text}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>