@cookie-notification-shadow: @se-black;
@cookie-notification-paragraph: @se-light-gray;
@cookie-notification-bg: @se-white;
@cookie-notification-shadow: @se-black;

.cookie-notification {
  display: none;
  position: fixed;
  z-index: 600;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: @cookie-notification-bg;
  box-shadow: 0 0 10px fade(@cookie-notification-shadow, 10%);

  @media @desktop {
    padding: 25px 15px;
  }

  &.is-cookie-opened {
    display: block;
  }

  &__wrapper {
    position: relative;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
  }

  p {
    margin: 0 0 10px;
    text-align: justify;

    @media @desktop {
      text-align: left;
      padding-right: 120px;
      margin: 0;
    }
  }

  .se-btn-primary {
    display: block;

    @media @desktop {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -16px;
    }
  }
}
