@metabar-bg-color: @se-white-FA;
@metabar-title-color: @se-gray-6C;
@metabar-item-title-color: @se-blue;
@metabar-caret-border-color: @se-gray;

.metabar {
  background-color: #fafafa;
}

.metabar-inner {
  display: flex;
  justify-content: center;

  @media @desktop {
    justify-content: space-between;
  }
}

.metabar__items {
  width: auto;
  text-align: center;

  @media @desktop {
    width: 100%;

    &--start {
      text-align: start;
    }

    &--end {
      text-align: end;
    }
  }
}

.metabar-item {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  &__title {
    display: none;
    vertical-align: middle;
    font-size: .6875rem;
    font-weight: normal;
    color: @metabar-title-color;

    @media @desktop {
      display: inline-block;
    }
  }

  &__element {
    height: 100%;
    outline: none;
    min-width: 30px;
  }

  &__flag-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    @media @desktop {
      margin-right: 9px;
    }
  }

  &:hover {

    .metabar-item__title {
      color: @metabar-item-title-color;
    }

    .metabar-item__caret--down::after {
      border-color: @metabar-item-title-color;
    }
  }

  &.is-active {

    .metabar-item__title {
      color: @metabar-item-title-color;
    }

    .metabar-item__caret--down::after {
      margin-top: 0;
      border-color: @metabar-item-title-color;
      transform: rotate(-135deg);
    }
  }
}

.metabar-item__caret--down {
  display: none;

  @media @desktop {
    display: inline-block;
  }

  &::after {
    display: block;
    margin-top: -7px;
    margin-left: 4px;
    width: 4px;
    height: 4px;
    border-right: 1px solid @metabar-caret-border-color;
    border-bottom: 1px solid @metabar-caret-border-color;
    content: '';
    transform: rotate(45deg);
    transition: transform .3s ease-out;
  }
}