<section class="metabar js-metabar">
  <div class="se-block">
    <div class="metabar-inner">
      {{#if htmlWebpackPlugin.options.page.metabar.start}}
        <div class="metabar__items metabar__items--start">
          {{#each htmlWebpackPlugin.options.page.metabar.start}}
            <div class="metabar-item metabar-item--located-start js-metabar-item"></div>
          {{/each}}
        </div>
      {{/if}}
      {{#if htmlWebpackPlugin.options.page.metabar.end}}
        <div class="metabar__items metabar__items--end">
          {{#each htmlWebpackPlugin.options.page.metabar.end}}
            <div class="metabar-item js-metabar-item">
              {{#if countrySelect}}
                <button type="button" class="metabar-item__element metabar-item__country-select js-open-country-select">
                  <img class="icon metabar-item__flag-icon" src="//www.schneider-electric.by/ru/assets-re1/svg_flags/flag_{{country.code}}.svg" width="16" height="16" alt="">
                  <span class="metabar-item__title">{{country.code}}/{{country.language}} {{country.name}} {{country.title}}</span>
                  <span class="metabar-item__caret--down"></span>
                </button>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</section>