<section class="support-bar">
  <h5 class="support-bar__toggler js-toggle-support">
    <span class="support-bar__inner-text">
      {{htmlWebpackPlugin.options.page.supportBar.title}}
    </span>
  </h5>
  <ul class="support-bar__list">
    {{#each htmlWebpackPlugin.options.page.supportBar.items}}
      <li class="support-bar__list-item">
        <a href="{{link.url}}" class="support-bar__list-link">{{link.text}}</a>
      </li>
    {{/each}}
  </ul>
</section>