@support-bar-bg-color: @se-white-FA;
@support-bar-toggler-text-color: @se-white;
@support-bar-toggler-bg-color: @se-blue;


.support-bar {
  display: none;

  @media @desktop {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 365px;
    background-color: @support-bar-bg-color;
    transform: translate3d(~'calc(100% - 35px)', 0, 0);
    transition: transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.is-expanded {
      transform: translate3d(0, 0, 0);
    }

    &.is-sticked {
      position: fixed;
      top: 20px;
    }

    &.is-sticked-to-footer {
      position: absolute;
      top: auto;
      bottom: 170px;
    }
  }

  &__toggler {
    display: inline-block;
    height: 100%;
    width: 35px;
    margin: 0;
    padding: 15px 0;
    color: @support-bar-toggler-text-color;
    text-transform: uppercase;
    background: @support-bar-toggler-bg-color;
    cursor: pointer;
  }

  &__inner-text {
    position: relative;
    display: inline-block;
    .fz-rem(16);
    .lh(35, 16);
    text-transform: uppercase;
    white-space: nowrap;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;

    &::after {
      content: '';
      float: left;
      margin-top: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item {
    padding: 20px 10px;
    text-align: center;
    .fz-rem(13);
    text-transform: uppercase;
  }
}