@smartbanner-android-bg-color: #f3f3f3;

.smartbanner.smartbanner--android {
  background: @smartbanner-android-bg-color !important;
  box-shadow: none !important;
  line-height: 20px;
}

.smartbanner.smartbanner--android .smartbanner__exit {
  left: 9px !important;
  margin-right: 0 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 0 !important;
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  text-shadow: none !important;
}

.smartbanner.smartbanner--android .smartbanner__exit::before, .smartbanner.smartbanner--android .smartbanner__exit::after {
  top: auto !important;
  left: auto !important;
  width: 1px !important;
  height: 12px !important;
  background: #767676 !important;
}

.smartbanner.smartbanner--android .smartbanner__icon {
  border-radius: 5px !important;
}

.smartbanner.smartbanner--android .smartbanner__info {
  color: inherit !important;
  text-shadow: none !important;
}

.smartbanner.smartbanner--android .smartbanner__info__title {
  color: inherit !important;
  font-weight: inherit !important;
}

.smartbanner__info__author,
.smartbanner__info__price {
  font-size: 12px !important;
}

.smartbanner.smartbanner--android .smartbanner__button {
  top: 32px !important;
  right: 10px !important;
  padding: 0 10px !important;
  min-width: 10% !important;
  border-radius: 5px !important;
  background: @smartbanner-android-bg-color !important;
  box-shadow: none !important;
  color: #1474fc !important;
  font-size: 18px !important;
  font-weight: inherit !important;

  &:hover {
    text-decoration: none;
  }
}

.smartbanner.smartbanner--android .smartbanner__button__label {
  display: inline !important;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  line-height: inherit !important;
}
