@country-dd-list-bg-color: @se-white;
@country-dd-list-item-border-color: @se-white-EA;
@country-dd-list-heading-color: @se-gray;
@country-dd-list-item-title-color: @se-green;
@country-dd-list-item-color: @se-gray-9F;
@country-dd-list-item-active-color: @se-blue;
@country-dd-list-item-hover-color: @se-light-gray;

.country-dd-list-section {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: @country-dd-list-bg-color;
  flex-direction: column;

  &.is-opened {
    display: flex;
  }

  &__header {
    padding: 10px 44px 10px 15px;
    width: 100%;
    background: @country-dd-list-bg-color;

    &.with-shadow {
      box-shadow: 0 3px 4px 0 rgba(190, 190, 190, 0.5);
    }

    @media @desktop {
      padding: 30px 0;
    }
  }

  &__body {
    display: flex;
    height: 100%;
    overflow-y: scroll;

    &-inner {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    .lh(23, 20);
    color: @country-dd-list-heading-color;

    @media @desktop {
      font-size: 35px;
      .lh(40, 35);
    }
  }
}

.country-dd-list-regions {

  @media @desktop {
    padding-bottom: 80px;
  }

  &__item-title {
    display: block;
    padding: 18px 15px;
    color: @country-dd-list-item-title-color;
    font-size: 20px;
    font-weight: bold;
  }

  &__item {
    position: relative;
    border-bottom: 2px solid @country-dd-list-item-border-color;
    color: @country-dd-list-item-color;

    &.is-active,
    &:hover {
      color: @country-dd-list-item-hover-color;
    }

    &:first-child {
      border-top: 2px solid @country-dd-list-item-border-color;

      @media @desktop {
        border: none;
      }
    }

    @media @desktop {
      border: none;
      padding-bottom: 30px;
    }

    &.is-active {
      padding-bottom: 18px;

      .country-dd-list-countries {
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      .country-dd-list-regions__status-icon {

        .icon-plus {
          opacity: 0;
        }

        .icon-minus {
          opacity: 1;
        }
      }

      @media @desktop {
        padding-bottom: 30px;
      }
    }
  }

  &__status-icon {
    position: absolute;
    top: 23px;
    right: 15px;
    margin: 0;
    line-height: 1;

    .icon-minus,
    .icon-plus {
      transition: opacity .2s ease-out;
    }

    .icon-minus {
      opacity: 0;
    }

    @media @desktop {
      display: none;
    }
  }
}

.country-dd-list-countries {
  display: none;
  padding: 0 15px;

  @media screen and (min-width: 36em) {
    column-count: 2;
    column-width: 50%;
  }

  @media screen and (min-width: 46em) {
    column-count: 3;
    column-width: 33.33%;
  }

  @media @desktop {
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
    column-count: 4;
    column-width: 25%;
  }

  &__item {
    padding-left: 13px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &.is-active a {
      color: @country-dd-list-item-active-color;
    }

    &-title {
      .fz-rem(14);
      font-weight: normal;
      color: @country-dd-list-item-hover-color;

      &:hover {
        color: @country-dd-list-item-active-color;
      }

      &::before {
        margin-left: -13px;
        content: '> ';
      }
    }
  }
}
