<section class="se-tips">
  {{#each htmlWebpackPlugin.options.page.tips}}
    <div class="se-tips__item">
      <h5 class="se-tips__heading">{{heading}}</h5>
      <figure class="se-tips__figure">
        <img src="{{imageUrl}}" alt="" class="se-tips__img">
      </figure>
      <p class="se-tips__description">{{description}}</p>
      <!-- <a></a> tag -->
      {{> ../_base/hyperlink.hbs
        className='se-btn-primary js-tips-description'
        linkText=ctaButton.text
        url=ctaButton.url
      }}
    </div>
  {{/each}}
</section>
