@tips-heading-color: @se-green;
@tips-description-color: @se-gray;

.se-tips {
  width: 100%;
  margin-bottom: 15px;

  @media @desktop {
    max-width: 770px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;

    @media @desktop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 33%;
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      @media @desktop {
        margin: 0 15px;
      }
    }
  }

  &__heading {
    margin: 0 0 5px;
    .fz-rem(20);
    color: @tips-heading-color;
    text-align: center;

    @media @desktop {
      text-align: left;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
  }

  &__img {
    width: 100%;
    height: auto;

    @media @desktop {
      height: 133px;
      width: 233px;
    }
  }

  &__description {
    .fz-rem(13);
    .lh(20, 14);
    color: @tips-description-color;
  }

  & .se-btn {
    margin-top: auto;
  }
}