@copyright-bar-bg-color: @se-green;
@copyright-list-color: @se-white;

.copyright-bar {
  padding: 12px 0;
  background-color: @copyright-bar-bg-color;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    padding: 0 5px;
    font-size: 12px;
    border-right: 1px solid @copyright-list-color;

    &:first-of-type {
      padding-left: 0;
    }
  }

  &__list-link {
    color: @copyright-list-color;
    text-decoration: none;
  }

  &__copyright {
    margin: 0;
  }

  &__main-link {
    font-size: 12px;
    color: @copyright-list-color;
    text-decoration: none;

    &:hover {
      color: @copyright-list-color;
      text-decoration: none;
    }
  }
}