<div class="copyright-bar">
  <div class="container">
    <div class="copyright-bar-wrapper">
      <ul class="copyright-bar__list">
        {{#each htmlWebpackPlugin.options.page.footerBottomBar.navigationLinks}}
          <li class="copyright-bar__list-item">
            <a href="{{url}}" class="copyright-bar__list-link">{{text}}</a>
          </li>
        {{/each}}
      </ul>
      <p class="copyright-bar__copyright">
        <a href="{{htmlWebpackPlugin.options.page.footerBottomBar.footerLinkText.url}}" class="copyright-bar__main-link">{{htmlWebpackPlugin.options.page.footerBottomBar.footerLinkText.text}}</a>
      </p>
    </div>
  </div>
</div>