@socials-item-border-color: #EDEDED;

.socials-share {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -60px;

  &.is-sticked {
    position: fixed;
    top: 20px;
    left: calc(~'calc(100% / 2 - (980px / 2) - 60px)');
  }

  &.is-sticked-to-footer {
    position: absolute;
    top: auto;
    bottom: 70px;
  }

  &__list {
    width: 20px;
  }

  &__list-item {
    position: relative;
    display: inline-block;
    margin-bottom: 19px;

    &:not(:last-of-type)::after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 20px;
      height: 1px;
      background-color: @socials-item-border-color;
    }
  }

  & .icon {
    width: 20px;
    height: 20px;
  }
}
