<section class="socials-share">
  <ul class="socials-share__list">
    {{#each htmlWebpackPlugin.options.page.socials}}
      <li class="socials-share__list-item">
        <a href="{{url}}" target="_blank" class="social-share__list-link" data-sharetext="{{sharetext}}" data-type="{{type}}" data-additional-text="{{additionalText}}" data-title="{{title}}">
          <figure class="icon figure-icon">
            <svg class="icon" width="20" height="20" viewBox="0 0 20 20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{iconId}}"></use>
            </svg>
          </figure>
        </a>
      </li>
    {{/each}}
  </ul>
</section>