@flag-icon-size: 26px;
@flag-offset: 10 + @flag-icon-size;
@flag-offset-breakpoint: 20 + @main-container-width + @flag-offset * 2;

@action-button-bg-color: @se-blue;
@action-button-color: @se-white;
@country-dd-bg-color: @se-white;
@country-dd-text-color: @se-light-gray;
@country-dd-close-button-color: @se-gray-9F;
@country-dd-close-button-hover-color: @se-gray;

.country-dd {
  // display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: @country-dd-bg-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);

  @media @desktop {
    vertical-align: top;
  }
}

.country-dd,
.country-dd-list-section {

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: @country-dd-close-button-color;
    transition: .2s ease-out;

    &:hover {
      color: @country-dd-close-button-hover-color;
      transition: 0s;
    }

    @media @desktop {
      top: 20px;
      right: 30px;
      width: 17px;
      height: 17px;
      line-height: 17px;
    }
  }
}

.country-dd-info {
  padding: 50px 10px 14px;

  @media @desktop {
    padding: 30px 0 40px;
  }

  #header-container & .inner-wrapper {
    width: 100%;
    @media (min-width: (@flag-offset-breakpoint)) {
      width: @main-container-width;
    }
  }

  &__content {
    position: relative;
  }

  &__welcome {
    margin-left: @flag-offset;

    &.is-redirected {

      .country-dd__description--common,
      .country-dd__main-action-button,
      .country-dd__additional-action-button {
        display: none;
      }

      .country-dd__description--redirected {
        display: block;
      }

      .country-dd__main-action-button--redirected,
      .country-dd__additional-action-button--redirected {
        display: inline-block;
      }
    }

    a {
      color: @action-button-bg-color;
    }

    @media screen and (max-width: 32em) {
      margin-left: 0;
    }

    @media (min-width: (@flag-offset-breakpoint)) {
      margin-left: 0;
    }
  }
}

.country-dd {

  &__heading {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: @flag-icon-size;

    @media screen and (max-width: 32em) {
      margin-left: @flag-offset;
    }

    strong {
      font-weight: bold;
    }
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 20px;
    .fz-rem(14);
    font-weight: normal;
    .lh(20, 14);
    color: @country-dd-text-color;

    @media @desktop {
      margin-top: 17px;
      margin-bottom: 16px;
    }

    a {
      text-decoration: underline;
    }

    &--common {
      display: block;
    }

    &--redirected {
      display: none;
    }
  }

  &__flag-icon {
    position: relative;
    left: auto;
    float: left;
    width: @flag-icon-size;
    height: @flag-icon-size;
    @media (min-width: (@flag-offset-breakpoint)) {
      position: absolute;
      left: -@flag-offset;
    }
  }

  &__buttons {

    button {
      .fz-rem(14);
      font-weight: normal;
      .lh(16, 14);
      outline: none;

      @media screen and (max-width: 32em) {

        & + & {
          margin-top: 10px;
        }
      }
    }
  }

  &__main-action-button {
    display: inline-block;
    background: @action-button-bg-color;
    color: @action-button-color;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    border-color: @action-button-color;
    border-style: solid;
    border-width: 0;

    position: relative;
    margin-right: 6px;
    padding: 9px 24px;
    .fz-rem(14);

    &:hover {
      background-image: linear-gradient(to bottom,#59bde9 0,#42b4e6 100%);
    }

    &:active {
      background: black;
      color: @action-button-color;
    }

    &::after {
      display: inline-block;
      margin-left: 10px;
      margin-top: -4px;
      height: 6px;
      width: 6px;
      border-top: 1px solid @action-button-color;
      border-right: 1px solid @action-button-color;
      vertical-align: middle;
      content: '';
      transform: rotate(135deg);
    }

    &--redirected {
      display: none;

      &::after {
        content: none;
      }
    }
  }

  &__additional-action-button {
    display: inline-block;
    color: @action-button-bg-color;
    font-weight: normal;
    text-align: center;
    border-radius: 0;
    border-color: @action-button-bg-color;
    border-style: solid;
    border-width: 0;
    background-clip: padding-box;
    padding: 9px 24px;
    .fz-rem(14);

    &:hover {
      color: @action-button-bg-color;
    }

    &--redirected {
      display: none;

      &::after {
        display: inline-block;
        margin-left: 10px;
        margin-top: -4px;
        height: 6px;
        width: 6px;
        border-top: 1px solid @action-button-bg-color;
        border-right: 1px solid @action-button-bg-color;
        content: '';
        vertical-align: middle;
        transform: rotate(135deg);
      }

      &:hover {

        &::after {
          border-color: lighten(@action-button-bg-color, 5%);
        }
      }

      &:active {

        &::after {
          border-color: lighten(@action-button-bg-color, 5%);
        }
      }
    }

    &__icon {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      vertical-align: bottom;
    }
  }

  &__main-action-button,
  &__additional-action-button {
    @media screen and (max-width: 32em) {
      display: block;
      margin-right: 0;
      width: 100%;

      &--redirected {
        display: none;
      }
    }
  }
}
