@font-face {
    font-family: 'Arial Rounded MT Light';
    src: url("./latin-ot-w04/ArialRoundedMTW04-Light.woff2");
    src: url("./latin-ot-w04/ArialRoundedMTW04-Light.woff2") format("woff2"),
    url("./latin-ot-w04/ArialRoundedMTW04-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Rounded MT Regular';
    src: url("./latin-ot-w04/ArialRoundedMTW04-Regular.woff2");
    src: url("./latin-ot-w04/ArialRoundedMTW04-Regular.woff2") format("woff2"),
    url("./latin-ot-w04/ArialRoundedMTW04-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url("./latin-ot-w04/ArialRoundedMTW04-Bold.woff2");
    src: url("./latin-ot-w04/ArialRoundedMTW04-Bold.woff2") format("woff2"),
    url("./latin-ot-w04/ArialRoundedMTW04-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
