@font-face {
  font-family: 'Arial Rounded MT Light';
  src: url("./cyrillic-w10/ArialW10-Rounded.woff2");
  src: url("./cyrillic-w10/ArialW10-Rounded.woff2") format("woff2"),
  url("./cyrillic-w10/ArialW10-Rounded.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Rounded MT Regular';
  src: url("./cyrillic-w10/ArialW10-Rounded.woff2");
  src: url("./cyrillic-w10/ArialW10-Rounded.woff2") format("woff2"),
  url("./cyrillic-w10/ArialW10-Rounded.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: url("./cyrillic-w10/ArialW10-RoundedBold.woff2");
  src: url("./cyrillic-w10/ArialW10-RoundedBold.woff2") format("woff2"),
  url("./cyrillic-w10/ArialW10-RoundedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}