@import "mixins/mixins.less";
@import "breakpoints/breakpoints.less";
@import "variables/variables";
@import "fonts/fonts";
@import "elements/buttons";
@import 'elements/svg-sprite.less';
@import 'elements/button.less';
@import 'elements/link.less';
@import 'elements/list.less';
@import 'elements/typo.less';

// This will give you the same result, and make it easier to change the box-sizing
// in plugins or other components that leverage other behavior.
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color:#fafafa;
  outline: none;
  font-family: 'Arial Rounded MT Regular';
}

.two-column-grid {
  @media @desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-column {
  padding: 0 10px;
  @media @desktop {
    width: 80%;
    padding: 0 0 10px;
  }
}

.aside-column {
  @media @desktop {
    max-width: 212px;
  }
}

// clearfix not breaking margin collapsing
// http://cssmojo.com/the-very-latest-clearfix-reloaded/
.cf::after {
  content: '';
  display: block;
  clear: both;
}

.se-page-content {
  position: relative;
}

.se-page-content .container {
  position: relative;
}