.arr-finance {
  width: 10px;
  height: 15px;
}

.arr-little {
  width: 4px;
  height: 8px;
}

.arrow-big-left-white {
  width: 48px;
  height: 84px;
}

.arrow-big-right-white {
  width: 48px;
  height: 84px;
}

.arrow-finance {
  width: 10px;
  height: 15px;
}

.arrow-left-blue {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arrow-left-dark-gray {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arrow-left-gray {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arrow-little {
  width: 4px;
  height: 8px;
}

.arrow-right-blue {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arrow-right-dark-gray {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arrow-right-gray {
  width: 24px;
  height: 42px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd}

.arr_finance {
  width: 10px;
  height: 15px;
}

.arr_little {
  width: 4px;
  height: 8px;
}

.az {
  width: 19px;
  height: 19px;
}

.carrot-icon {
  width: 9px;
  height: 8px;
}

.carrot_2 {
  width: 9px;
  height: 8px;
}

.close-button {
  width: 17px;
  height: 17px;
}

.close-icon {
  width: 15px;
  height: 15px;
}

.docs-filled {
  width: 14px;
  height: 18px;
}

.docs-inline {
  width: 14px;
  height: 18px;
}

.docs_filled {
  width: 14px;
  height: 18px;
}

.docs_inline {
  width: 14px;
  height: 18px;
}

.icon-chat-big {
  width: 23px;
  height: 18px;
}

.icon-chat-small {
  width: 23px;
  height: 18px;
}

.icon-close {
  width: 17px;
  height: 17px;
}

.icon-facebook {
  width: 33px;
  height: 33px;
}

.icon-globe {
  width: 120px;
  height: 120px;
}

.icon-google-plus {
  width: 33px;
  height: 33px;
}

.icon-linkedin {
  width: 33px;
  height: 33px;
}
.st0{fill:#076c9f}
.st1{filter:url(#Adobe_OpacityMaskFilter)}
.st2{fill:#fff}
.st3{mask:url(#mask-2_1_);fill:#fefefe}
.st4{filter:url(#Adobe_OpacityMaskFilter_1_)}
.st5{mask:url(#mask-4_1_);fill:#fefefe}
.st6{filter:url(#Adobe_OpacityMaskFilter_2_)}
.st7{mask:url(#mask-6_1_);fill:#fefefe}

.icon-mail {
  width: 33px;
  height: 33px;
}

.icon-minus {
  width: 12px;
  height: 2px;
}

.icon-plus {
  width: 14px;
  height: 14px;
}

.icon-print {
  width: 33px;
  height: 33px;
}

.icon-twitter {
  width: 33px;
  height: 33px;
}

.logo-apc {
  width: 322px;
  height: 78px;
}

.logo-schneider {
  width: 146px;
  height: 30px;
}

.logo {
  width: 146px;
  height: 30px;
}

.menu {
  width: 21px;
  height: 15px;
}

.minus {
  width: 12px;
  height: 12px;
}

.partner-inline {
  width: 17px;
  height: 18px;
}

.partner_inline {
  width: 17px;
  height: 18px;
}

.play-button-hover {
  width: 140px;
  height: 140px;
}

.play-button {
  width: 140px;
  height: 140px;
}

.plus {
  width: 12px;
  height: 12px;
}
.st0{fill:#333}

.search {
  width: 15px;
  height: 16px;
}

.star-filled {
  width: 20px;
  height: 20px;
}

.star-inline {
  width: 20px;
  height: 20px;
}

.star_filled {
  width: 20px;
  height: 20px;
}

.star_inline {
  width: 20px;
  height: 20px;
}

