@pro-active-chat-figure-color: @se-white;
@pro-active-chat-question-bg-color: @se-white;
@pro-active-chat-btn-color: @se-blue;
@toggle-icon-color: @se-green;
@pro-active-chat-header-bg-color: @se-green;
@pro-active-chat-bg-color: @se-white-FA;

.pro-active-chat {
  // display: none;
  position: absolute;
  top: 150px;
  right: 0;
  transform: translate3D(320px, 0, 1px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 3;

  &.is-available {
    display: flex;
  }

  &.is-unavailable {
    display: none;
  }

  &.is-sticked {
    position: fixed;
    top: 170px;
  }

  &.is-sticked-to-footer {
    position: absolute;
    top: auto;
    bottom: -130px;
  }

  &.is-opened {
    transition: transform .25s ease;
    transform: translate3D(0, 0, 1px);

    & .pro-active-chat-wrapper {
      display: block;
    }

    & .toggle-chat {
      position: absolute;
      display: none;
    }
  }

  & .pro-active-chat-wrapper {
    position: relative ;
    top: 0;
    left: 0;
    z-index: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 10px;
    width: 320px;
    background-color: @pro-active-chat-question-bg-color;
    box-shadow: 0 1px 3px 0 rgba(165, 165, 165, 0.5);
  }

  .toggle-chat {
    position: relative;
    left: -54px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @toggle-icon-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
    color: @pro-active-chat-figure-color;
    cursor: pointer;

    & .icon {
      display: flex;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: @pro-active-chat-header-bg-color;
  }

  &__heading {
    flex-grow: 1;
    margin: 0;
    color: @pro-active-chat-figure-color;
    .fz-rem(15);
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 18px;
    margin: 0;
    margin-right: 10px;
    color: @pro-active-chat-figure-color;
  }

  .close-chat {
    display: flex;
    cursor: pointer;

    & .icon {
      display: flex;
      margin: 0;
      color: @pro-active-chat-figure-color;
      opacity: .7;
    }

    &:hover {
      & .icon {
        opacity: 1;
      }
    }
  }

  &__content {
    display: flex;
    padding: 25px 10px;
    background-color: @pro-active-chat-bg-color;
  }

  &__avatar {
    flex: 0 0 37px;
    width: 37px;
    height: 37px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__question {
    margin: 0;
  }
}

.pro-active-chat-question-wrapper {
  position: relative;
  width: 100%;
  padding: 13px 20px;
  background-color: @pro-active-chat-question-bg-color;
  box-shadow: 0 2px 4px 0 rgba(203,203,203,0.5);
  border-radius: 7px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -7px;
    border: 7px solid @pro-active-chat-question-bg-color;
    transform-origin: 0 0;
    transform: rotate(-45deg) skew(8deg, 8deg);
    top: 18px;
    left: 0;
    box-shadow: 0 2px 4px 2px rgba(203, 203, 203, 0.5);
  }

  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    margin-left: -6px;
    background-color: @pro-active-chat-question-bg-color;
    transform-origin: 0 0;
    z-index: 1;
    top: 8px;
    left: 6px;
  }
}

.pro-active-chat-btn-wrapper {
  padding: 0 10px;
  text-align: center;
  color: @pro-active-chat-figure-color;
}

.pro-active-chat-btn {
  display: block;
  padding: 13px 0px;
  .fz-rem(15);
  background-color: @pro-active-chat-btn-color;
}

// remove when .slider-new ~ .main > div:first-child:not(.slider):not(.slider-new) becomes deprecated
// .slider-new ~ .main > div.pro-active-chat:first-child:not(.slider):not(.slider-new) {
//   position: fixed;
//   top: 60%;
//   padding: 5px 0;
//   margin: 0;
//   width: 374px;
//   background-color: transparent;

//   @media @desktop {
//     position: absolute;
//     top: auto;
//   }
// }