<div class="pro-active-chat">
    <div class="js-toggle-chat toggle-chat">
        <figure class="icon icon-chat-big">
            <svg width="32" height="25">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chat-big"></use>
            </svg>
        </figure>
    </div>
    <div class="pro-active-chat-wrapper">
        <div class="pro-active-chat__header">
            <figure class="icon icon-chat-big pro-active-chat__icon">
                <svg width="23" height="18">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chat-small"></use>
                </svg>
            </figure>
            <h5 class="pro-active-chat__heading">Live Support Chat</h5>
            <div class="close-chat js-close-chat">
                <figure class="icon icon-chat-big">
                    <svg width="19" height="19">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-button"></use>
                    </svg>
                </figure>
            </div>
        </div>
        <div class="pro-active-chat__content">
            <img class="pro-active-chat__avatar" src="img/leadership-4.jpg" alt="">
            <div class="pro-active-chat-question-wrapper">
                <p class="pro-active-chat__question">Do you have questions about out IT solutions?</p>
                <p class="pro-active-chat__question">We are here to help!</p>
            </div>
        </div>
        <div class="pro-active-chat-btn-wrapper">
            <a href="#" class="pro-active-chat-btn">Chat now</a>
        </div>
    </div>
</div>