@popup-header-bg-color: @se-green;
@popup-header-logo-color: @se-white;
@popup-overlay-bg-color: @se-gray;
@popup-bg-color: @se-white;
@popup-close-color: rgba(255, 255, 255, .7);
@popup-close-hover-color: @se-white;
@popup-close-active-color: #009530;
@popup-heading-color: @se-gray;
@popup-message-color: @se-gray-lightened-20;

.popup {
  display: none;
}

.popup-wrapper  {

    & .tingle-modal__close {
      display: none;
    }

    .tingle-modal-box {
      max-width: 375px;

      &__content {
        padding: 0;
      }
    }

    .popup {
      display: block;
    }
}

.popup__header {
  position: relative;
  height: 60px;
  padding-left: 20px;
  padding-right: 60px;
  background-color: @popup-header-bg-color;
}

.popup__header-logo {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  color: @popup-header-logo-color;
}

.popup__close-button {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  line-height: 40px;
  background-color: transparent;
  color: @popup-close-color;
  transition: color .2s ease-out;

  @media @desktop {
    right: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
  }

  &:hover {
    color: @popup-close-hover-color;
    transition: color 0s;
  }

  &:active,
  &:focus:active {
    color: @popup-close-active-color;
    transition: color 0s;
  }
}

.popup__content {
  padding: 30px 20px 40px;

  @media @desktop {
    padding-right: 20px;
    padding-left: 20px;
  }

  &-message {
    margin-bottom: 0;
    .fz-rem(14);
    .lh(22, 14);
    color: @popup-message-color;
    text-align: center;
  }
}

.popup__content-heading {
  margin-top: 0;
  margin-bottom: 15px;
  .fz-rem(16);
  font-weight: @fw-bold;
  .lh(24, 16);
  text-align: center;
  color: @popup-heading-color;
}