.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chevron-before() {
  display: inline-block;
  //added non breaking space after > symbol to disable line break
  content: '>\00a0';
}

.chevron-after() {
  display: inline-block;
  //added non breaking space before > symbol to disable line break
  content: '\00a0>';
}

.chevron-double-after() {
  //added non breaking space before >> symbol to disable line break
  content: '\00a0>>';
}

.fz-rem(@target: 16) {
  font-size: round(@target / 16, 4) + 0rem;
}

.lh(@line_height, @font_size) {
  line-height: round(@line_height / @font_size, 4);
}

.button-size(@padding-y, @padding-x, @font-size, @line-height) {
  padding: @padding-y @padding-x;
  font-size: @font-size;
  line-height: @line-height;
}

.buttonBackground(@color, @textColor: #fff) {
  background-color: @color;
  color: @textColor;

  // in these cases the gradient won't cover the background, so we override
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: @textColor;
    background-color: darken(@color, 10%);
  }

  &:active,
  &.active {
    background-color: darken(@color, 20%);
  }
}