@home-products-heading-color: @se-green;

.home-products {
  position: relative;
  margin-bottom: 40px;
  @media @desktop {
    padding-bottom: 0;
  }

  &__heading-wrapper {
    display: block;

    @media @desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__slider-wrapper {
    margin: 0;
  }

  &__heading {
    font-size: 28px;
    text-align: center;
    color: @home-products-heading-color;
    margin: 0 0 10px 0;
    font-weight: 400;

    @media @desktop {
      text-align: left;
      font-size: 19px;
    }
  }

  &__slider-item {
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &::before {
      display: none;
    }
  }

  &__slider-wrapper {
    background-color: #fff;
    padding: 10px 0 5px;
  }

  &__slider-image {
    max-width: 600px;
    width: 100%;
    height: auto;

    @media @desktop {
      width: 100px;
      height: 100px;
    }
  }

  &__slider-item-name {
    position: relative;
    text-align: left;
    padding: 20px;
    font-size: 17px;
    color: @home-products-heading-color;

    @media @desktop {
      padding: 0;
      text-align: center;
      font-size: 13px;
    }
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    background-size: 20px 25px;
  }

  & .cta-link {
    position: absolute;
    bottom: -40px;
    z-index: 2;
    width: 100%;
  }
}