<section class="home-products">
  <div class="home-products__heading-wrapper">
    <h3 class="home-products__heading">{{htmlWebpackPlugin.options.page.homeProducts.heading}}</h3>
    <a class="se-btn-link se-btn-link--arrow" href="{{htmlWebpackPlugin.options.page.homeProducts.ctaLink.url}}">{{htmlWebpackPlugin.options.page.homeProducts.ctaLink.text}}</a>
  </div>
  <div class="swiper-container home-products__slider-wrapper">
    <div class="swiper-wrapper home-products__slider">
      {{#each htmlWebpackPlugin.options.page.homeProducts.sliderItems}}
        <div class="swiper-slide">
          <a href="{{linkUrl}}" target="_blank" class="home-products__slider-item">
            <figure class="home-products__slider-wrapper">
              <img src="{{imageUrl}}" alt="" class="home-products__slider-image">
              <figcaption class="home-products__slider-item-name">{{name}}</figcaption>
            </figure>
          </a>
        </div>
      {{/each}}
    </div>
    {{> ../_base/slider-controls.hbs additionalClasses="" iconWidth=11 iconHeight=20 iconIdLeft="arrow-big-left-white" iconIdRight="arrow-big-right-white"}}
  </div>
</section>