<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> ../../components/head/head}}
  </head>
  <body>
    {{> ../../components/cookie-message/cookie-message.hbs}}
    {{> ../../components/header/header.hbs}}
    {{> ../../components/main-slider/main-slider.hbs}}
    <main class="se-page-content">
      <div class="se-container">
        <h1>EcoStruxure™ Energy and Sustainability Services [h1]</h1>
        <article>
          <h2>Discover Schneider Electric [h2]</h2>
          <p>Schneider Electric is leading the Digital Transformation of Energy Management and Automation in Homes, Buildings, Data Centers, Infrastructure and Industries. [p]</p>
          <p>With global presence in over 100 countries, Schneider is the undisputable leader in Power Management – Medium Voltage, Low Voltage and Secure Power, and in Automation Systems. We provide integrated efficiency solutions, combining energy, automation and software.</p>
          <p>In our global Ecosystem, we collaborate with the largest Partner, Integrator and Developer Community on our Open Platform to deliver real-time control and operational efficiency.</p>
          <p>We believe that great people and partners make Schneider a great company and that our commitment to Innovation, Diversity and Sustainability ensures that Life Is On everywhere, for everyone and at every moment.</p>
          <h2>We share your passion for corporate sustainability and energy management</h2>
          <p>We help our clients design a strategy, deliver efficiency in their facilities and sustain results over time through long-term partnerships. As an unbiased, independent consultant, we work with clients in more than 100 countries; from regional companies to the world’s largest corporations. Explore how we can help with your energy and sustainability goals and select one below.</p>
          <h3>Company Profile [h3]</h3>
          <p>We are the global specialist in energy management and automation, delivering Innovation at Every Level.</p>
          <h4>EcoStruxure™ [h4]</h4>
          <p>EcoStruxure is our open, interoperable, IoT-enabled system architecture and platform.</p>
          <h5>Careers [h5]</h5>
          <p>Join us in the digital transformation of energy management and automation.</p>
          <h6>Investor Relations [h6]</h6>
          <p>Discover investor and shareholder information, financial results, regulatory information and upcoming events.</p>
          <address>Maskouskaja str., 22-9, <br> Minsk 220007 <br> Belarus <br> Fax <a href="tel:+375172369523">+375-17-236-95-23</a> <br> Skype <a href="skype:echo123">Skype test call</a> <br> Email <a href="mailto:example@example.com">example@example.com</a></address>
          <ul>
            <li>Request a demo</li>
            <li>Contact us</li>
            <li>Expert Perspectives</li>
          </ul>
          <ol>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
          </ol>
        </article>
        <article>
          <h2>7 for 2017<span>Global energy market trends [sub-heading]</span></h2>
          <p>As the global energy landscape shifts, the effects often can be felt across multiple departments, stakeholders and geographies. This paper explores the key global trends influencing the energy landscape to make 2017 an interesting year.</p>
          <a href="#">Download now</a>
        </article>
        <article>
          <h3>Company Profile</h3>
          <p>We are the global specialist in energy management and automation, delivering Innovation at Every Level.</p>
        </article>
        <article>
          <h4>EcoStruxure™</h4>
          <p>EcoStruxure is our open, interoperable, IoT-enabled system architecture and platform.</p>
        </article>
        <article>
          <h5>Careers</h5>
          <p>Join us in the digital transformation of energy management and automation.</p>
        </article>
        <article>
          <h6>Investor Relations</h6>
          <p>Discover investor and shareholder information, financial results, regulatory information and upcoming events.</p>
        </article>
        <article>
          <h3>Nieuwe aardlekautomaat: Acti 9 uitgebreid met iC60</h3>
          <time pubdate datetime="2018-02-28">2/28/2018</time>
          <p>Na jarenlang gebruik te hebben gemaakt van een rebranded product kondigen wij nu met trots aan dat de 100% Schneider Electric iC60 aardlekautomaat beschikbaar is. De gehele serie DCP N Vigi is vervangen door de iC60 aardlekautomaat.</p>
        </article>
        <article>
          <h3>Our office in Belarus</h3>
          <address>Maskouskaja str., 22-9, <br> Minsk 220007 <br> Belarus <br> Fax <a href="tel:+375172369523">+375-17-236-95-23</a><a href="skype:lumihis">+375-17-236-95-23</a></address>
        </article>
        <article>
          <ul>
            <li>Request a demo</li>
            <li>Contact us</li>
            <li>Expert Perspectives</li>
          </ul>
        </article>
        <article>
          <ol>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
            <li>Sustainable development</li>
            <li>Energy cost volatility</li>
            <li>Data explosion</li>
            <li>Continuous efficiency</li>
          </ol>
        </article>
    </main>
    {{> ../../components/footer/footer.hbs}}
    {{> ../../components/newsletter-modal/newsletter-modal.hbs}}
    {{> ../../components/external-scripts/external-scripts.hbs scripts=htmlWebpackPlugin.options.page.externalScripts}}
  </body>
</html>
