/** Start **/
@import "~normalize.css/normalize.css";
@import "~swiper/dist/css/swiper.css";
@import "~tingle.js/dist/tingle.css";
@import '~smartbanner.js/dist/smartbanner.min.css';
/** End **/

@import url("http://player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css");

@import "../../helpers/common";
@import '../../components/container/container.less';
@import "../../components/cookie-message/cookie-message";
@import "../../components/header/header";
@import "../../components/tips-section/tips-section";
@import "../../components/tips-section-vertical/tips-section-vertical";
@import "../../components/main-slider/main-slider";
@import '../../components/smartbanner/smartbanner';
@import "../../components/simple-slider/simple-slider";
@import "../../components/home-products/home-products";
@import "../../components/footer/footer";
@import '../../components/footer-logo/footer-logo';
@import "../../components/footer-subscribe/footer-subscribe";
@import "../../components/footer-links/footer-links";
@import "../../components/copyright-bar/copyright-bar";
@import "../../components/newsletter-modal/newsletter-modal";
@import '../../components/menu-btn/menu-btn.less';
@import '../../components/mega-menu/mega-menu.less';
@import '../../components/metabar/metabar.less';
@import '../../components/country-select/country-select.less';
@import '../../components/country-select/country-select-countries/country-select-countries.less';


article {
  background: #fff;
  padding: 14px 25px 15px;
  margin: 15px 0;
}